body {
 font-family: Tahoma, Arial, sans-serif;
 font-size: 13px;
 color: black;
 background: white;
 margin: 8px;
}
h1 {
 font-size: 19px;
 margin-top: 0px;
 margin-bottom: 5px;
 border-bottom: 1px solid black
}
.shaded {
 background: #d0d0ff;
}
